body {
    font-family: sans-sarif;
    background-color: red;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 600%;
}

.bold {
    font-weight: 300;
}

.img-medium {
    height: 400px;
}

