body {
    font-family: times new roman;
    background-color: blue;
    margin-top: 75px;
}

.center {
    text-align: right;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: 200;
}

.img-medium {
    height: 200px;
}

